<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Новости{% endblock %}</title>
</head>

<body>

    <!-- Если пользователь аутентифицирован, показываем ссылку "Выход" -->
    {% if user.is_authenticated %}
        <a href="{% url 'articles:logout' %}">Выход</a>
    <!-- Если пользователь не аутентифицирован, показываем ссылку "Вход" -->
    {% else %}
        <a href="{% url 'articles:login' %}">Вход</a>
    <a href="{% url 'articles:signup' %}">Регистрация</a>
    {% endif %}



    <a href="/about-us">О нас</a>
    <a href="/contact-us">Контакты</a>
    <br>
    <hr><br>

    <form action="search" method="POST">
        {% csrf_token %}
        <input type="text" name="search_article">
        <button>Поиск</button>
    </form>

    {% block content %}
    <br><br>

    {% if articles_news %}

    {% for a in articles_news %}
    <a href="{% url 'articles:article' a.id %}">{{ a.news_title }}</a><br>
    {% endfor %}

    {% else %}
    Новости не найдены.
    {% endif %}


    {% endblock %}

</body>

</html>